{# empty Twig template #}

{% extends 'DistribuceTiskuBundle::layout.html.twig' %}

{% block title %}Log out{% endblock%}    

{% block body %}
    <header>
        <h1>Log out</h1>
    </header>
    
    <p>You were logged out.</p>
{% endblock %}